.color-nav {
  background-color: #491217;
}

.frontPageInfo h1 {
  text-align: center;
  padding-top: 500px;
  font-weight: 700;
  color: #581730;
}

.frontPageInfo1 h2 {
  padding-top: 20px;
}

.lets-get-started {
  padding-top: 20px;
}

body {
  background-color: darkgray;
}

.fixed-top {
  margin-top: 55px;
  transform: rotate(180deg) scaleX(1);
}